/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Permanent+Marker&display=swap');

body {
    font-family: "Happy Monkey", sans-serif;
    color: darkblue;
    max-width: 80%;
    margin: auto;
}
h1 {
    font-family: "Permanent Marker", sans-serif;
    text-transform: uppercase;
}
h2 {
    font-weight: 500;
    text-align: center;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header img {
    width: 200px;

}
header #heading {
    text-align: center;
}
button {
    color: #fff;
    padding: 15px 25px;
    border-radius: 100px;
    background-color: darkblue;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: large;
    border: 0;
    margin: 20px;
}
button:hover {
    border: solid 4px lightblue;
}
hr {
    height: 5px;
    background-color: darkblue;
    border: none;
}
/* Styling for ID's */
#heading {
    padding-left: 30px;
    padding-right: 30px;
}
#game-options {
    max-height: 600px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
#game-options div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}
#game-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: auto;
}
#player-choice {
    max-width: 45%;
}
#player-choice img {
    max-width: 100%;
}
#player-choice h4 {
    text-align: center;
}
#computer-choice {
    max-width: 45%;
}
#computer-choice img {
    max-width: 100%;
}
#computer-choice h4 {
    text-align: center;
}
#result-message {
    text-align: center;
    font-size: larger;
}
#controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}
#rules-image {
    display: flex;
    justify-content: center;
}
#rules-image img {
    width: 100%;
    max-width: 300px;

}
/* Styling for Classes */
.control img {
    width: 100px;
}
.control:hover {
    border: solid 2px darkblue;
}

/* Media queries */
@media (max-width: 805px) {
    header img {
        display: none;
    }
    #heading h1 {
        font-size: 150%;
    }
}
@media (max-width: 1400px) {
header .not-displayed {
    display: none;
}
}

